{% extends "layout.html" %}
{% block body %}

    {% if req_item %}
    <p>You requested {{ req_item }}</p>
    {% endif %}

    {% if pre_rendered %}
        {% for row in pre_rendered %}
            {{ row | safe }}
        {% endfor %}
    {% endif %}

    {% if tables %}
        {% for tbl in tables %}
            <h1>{{ tbl.title }}</h1>
            <table>
                {% for key, value in tbl.rows.items() %}
                    <tr><td>{{ key|safe }}</td><td>{{ value|safe }}</td></tr>
                {% endfor %}
            </table>
        {% endfor %}
    {% endif %}

{% endblock %}
